<ng-form name="placeAutoCompleteForm" class="form-horizontal place-auto-complete-form">
    <div class="form-group" ng-class="{'inline-auto-complete' : vm.onlySearchInput !== undefined}">
        <label ng-if="vm.onlySearchInput === undefined" for="{{vm.idInput}}" class="col-xs-2 control-label"
               translate>{{vm.searchText}}</label>
        <div ng-class="(vm.onlySearchInput === undefined) ? 'col-xs-10' : 'col-xs-12 inline-auto-complete'">
            <input id="{{vm.idInput}}"
                   class="form-control"
                   placeholder="{{vm.enterAddressText | translate}}"
                   ng-focus="vm.geolocate()" type="text"
                   ng-disabled="vm.disabled"
                   ng-model="vm.location.address"
                   ng-required="vm.required">
            </input>
        </div>
    </div>
    <div ng-if="vm.onlySearchInput === undefined">
        <div class="form-group">
            <label for="inputStreetNumber" class="col-xs-2 control-label" translate>{{vm.streetAddressText}}</label>
            <div class="col-xs-3">
                <input type="text" class="form-control" id="inputStreetNumber"
                       ng-model="vm.location.street_number"
                       ng-disabled="vm.pristine">
            </div>
            <div class="col-xs-7">
                <input type="text" class="form-control" id="inputStreetAddress"
                       ng-model="vm.location.route"
                       ng-disabled="vm.pristine">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCity" class="col-xs-2 control-label" translate>{{vm.cityText}}</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="inputCity"
                       ng-model="vm.location.locality"
                       ng-disabled="vm.pristine">
            </div>
        </div>
        <div class="form-group">
            <label for="inputState" class="col-xs-2 control-label" translate>{{vm.stateText}}</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="inputState"
                       ng-model="vm.location.administrative_area_level_1"
                       ng-disabled="vm.pristine">
            </div>
            <label for="inputZipCode" class="col-xs-2 control-label" translate>{{vm.zipCodeText}}</label>
            <div class="col-xs-4">
                <input type="text" class="form-control" id="inputZipCode"
                       ng-model="vm.location.postal_code"
                       ng-disabled="vm.pristine">
            </div>
        </div>
        <div class="form-group">
            <label for="inputCounty" class="col-xs-2 control-label" translate>{{vm.countyText}}</label>
            <div class="col-xs-10">
                <input type="text" class="form-control" id="inputCounty" name="inputCounty"
                       ng-model="vm.location.country"
                       ng-disabled="vm.pristine">
            </div>
        </div>
    </div>
</ng-form>